<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <JsonLayout compact="true" eventEol="true">
                <KeyValuePair key="trace_id" value="$${ctx:trace_id}"/>
                <KeyValuePair key="span_id" value="$${ctx:span_id}"/>
            </JsonLayout>
        </Console>
        <File name="File" fileName="/var/log/app/app.log">
            <JsonLayout compact="true" eventEol="true">
                <KeyValuePair key="trace_id" value="$${ctx:trace_id}"/>
                <KeyValuePair key="span_id" value="$${ctx:span_id}"/>
            </JsonLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>